#pop {
	background-color: rgb(0, 68, 170);
}

#jazz {
	background-color: rgb(98, 0, 166);
}

#chamber-pop {
	background-color: beige;
}

#progressive-metal {
	background-color: rgb(150, 0, 0);
}

#edm {
	background-color: rgb(143, 159, 37);
}

#nu-metal {
	background-color: rgb(30, 30, 30);
}

#drum-and-bass {
	background-color: green;
}

#soul {
	background-color: rgb(131, 52, 157);
}

#singer-songwriter {
	background-color: orange;
}

#rap {
	background-color: brown;
}

#rnb {
	background-color: rgb(133, 79, 8);
}

#lounge {
	background-color: rgb(20, 101, 93);
}
