@import 'genre';

body {
    margin: 0;
    padding: 0;

    .row {
        height: 25vh;
        margin: 0;
        padding: 0;

        div {
            margin: 0;
            padding: 0;
            height: 100%;
            text-align: center;

            h1 {
                padding-top: 30vh;
            }

            iframe {
                height: 100vh;
                margin: 0;
                padding: 0;
            }


        }
    }
}
