body {
    .row {
        height: 25vh;

        div {
            height: 100%;

            iframe {
                height: 100vh;
            }

            &#pop {
                background-color: blue;
            }

            &#progressive-metal {
                background-color: red;
            }
        }
    }
}
