@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import 'genre';

body {
    margin: 0;
    padding: 0;
	background-color: rgb(24,24,24);

    .row {
        height: 25vh;
        margin: 0;
        padding: 0;

        .framediv {
            overflow: hidden;
            display: table;
            height: 100vh;

            h1 {
                top: 50vh;
                display: table-cell;
                vertical-align: middle;
                font-family: 'Montserrat', sans-serif;
                color: rgb(150, 150, 150);
            }

            iframe {
                height: 100vh;
                margin: 0;
                padding: 0;
            }
        }

        div {
            margin: 0;
            padding: 0;
            height: 100%;
            text-align: center;
			transition: background-color 0.2s linear, transform 0.04s linear;
			-o-transition: background-color 0.2s linear, transform 0.04s linear;
			-ms-transition: background-color 0.2s linear, transform 0.04s linear;
			-moz-transition: background-color 0.2s linear, transform 0.04s linear;
			-webkit-transition: background-color 0.2s linear, transform 0.04s linear;
        }
    }
}
